<div class="header-container w">
    <div class="header-nav">
        <a href="#">小米商城</a>
        <span class="sep">|</span>
        <a href="#">MIUI</a>
        <span class="sep">|</span>
        <a href="#">loT</a>
        <span class="sep">|</span>
        <a href="#">云服务</a>
        <span class="sep">|</span>
        <a href="#">天星数科</a>
        <span class="sep">|</span>
        <a href="#">有品</a>
        <span class="sep">|</span>
        <a href="#">小爱开放平台</a>
        <span class="sep">|</span>
        <a href="#">企业团购</a>
        <span class="sep">|</span>
        <a href="#">资质证照</a>
        <span class="sep">|</span>
        <a href="#">协议规则</a>
        <span class="sep">|</span>
        <a href="#">下载app</a>
        <span class="sep">|</span>
        <a href="#">智能生活</a>
        <span class="sep">|</span>
        <a href="#">Select Location</a>
    </div>
    <div class="header-shopcar">
        <a href="#" class="shopcar-top shopcar-color-o">
            <span></span>购物车 <span>(1)</span>
        </a>
        <div class="shopcar-bottom full">
            <div class="shopcar-content">
                <div class="loading hide">
                    <div class="loader"></div>
                </div>
                <ul class="car-list">
                    <li>
                        <div>
                            <a href="#">
                                <img src="../img/pms_1617008568.53329550 (1).jpg" alt="">
                            </a>
                            <a href="#">小米11 Ultra 8GB+256GB 陶瓷黑</a>
                            <span>5999元 × 2</span>
                            <a href="#">×</a>
                        </div>
                    </li>
                </ul>
                <div class="car-total">
                    <span class="total">
                        共<em>1</em>件商品
                        <span class="price">
                            <em>1998</em>元
                        </span>
                    </span>
                    <a href="#">去购物车结算</a>
                </div>
                <div class="car-error hide"></div>
                <div class="car-empty hide">购物车中还没有商品，赶紧选购吧！</div>
            </div>
        </div>
    </div>
    <div class="header-info">
        <a href="#">登陆</a>
        <span class="sep">|</span>
        <a href="#">注册</a>
        <span class="sep">|</span>
        <span>
            <a href="#">消息通知</a>
        </span>
    </div>
</div>
<div></div>