html,
body {
  height: 100%;
}
.layout_banner {
  float: left;
  height: 100%;
  width: 375px;
  background: url(../img/banner.a0e6fbf0.jpg) no-repeat;
  background-size: cover;
}
.layout {
  margin-left: 375px;
  height: 100%;
  position: relative;
}
.layout .layout_header {
  padding: 20px;
  height: 40px;
}
.layout .layout_header .layout_title {
  float: left;
  height: 40px;
  font-size: 26px;
  font-weight: 500;
  color: #333;
  line-height: 40px;
  background: url(../img/logo-mi2.png) no-repeat left center;
  background-size: 25%;
  padding-left: 50px;
}
.layout .layout_header .layout_nav {
  float: right;
}
.layout .layout_header .layout_nav .nav_item_url,
.layout .layout_header .layout_nav .nav_item {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  height: 40px;
  font-size: 14px;
  font-weight: 400;
  color: #838383;
  line-height: 40px;
  position: relative;
  padding-right: 16px;
}
.layout .layout_header .layout_nav .nav_item_url:hover,
.layout .layout_header .layout_nav .nav_item:hover {
  color: #ff6700;
}
.layout .layout_header .layout_nav .nav_item {
  position: relative;
}
.layout .layout_header .layout_nav .nav_item em {
  position: absolute;
  right: 0;
  top: 15px;
  margin-left: 6px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px;
  border-color: transparent transparent #333 #333;
  transform: rotate(-45deg);
  transition: all 0.3s 0.1s ease;
}
.layout .layout_header .layout_nav .nav_item:hover {
  color: #ff6700;
  border-color: #ff6700;
}
.layout .layout_header .layout_nav .nav_item:hover em {
  border-color: #ff6700;
  border-color: transparent transparent #ff6700 #ff6700;
}
.layout .layout_header .layout_nav .nav_item:hover em {
  transform: rotate(135deg);
}
.layout .layout_header .layout_nav .nav_item:hover .nav_item-list {
  opacity: 1;
  height: 70px;
}
.layout .layout_header .layout_nav .nav_item .nav_item-list {
  overflow: hidden;
  width: 90px;
  height: 0px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: absolute;
  right: -7px;
  top: 45px;
  text-align: center;
  opacity: 0;
  transition: all 0.3s 0.1s ease;
}
.layout .layout_header .layout_nav .nav_item .nav_item-list a {
  display: block;
  height: 35px;
  line-height: 35px;
}
.layout .layout_header .layout_nav .nav_item .nav_item-list a:hover {
  background-color: #fff3e6;
}
.layout .layout_header .layout_nav .nav_divider {
  vertical-align: middle;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  height: 14px;
  width: 0;
  border-right: 1px solid #ddd;
}
.layout .layout_container {
  padding-top: 60px;
  padding-bottom: 80px;
}
.layout .layout_container .layout_card {
  padding: 40px 50px;
  width: 450px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 20px 50px 0 hsla(0, 0%, 64%, 0.1);
}
.layout .layout_container .layout_card .login-switch {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  width: 64px;
  height: 64px;
  opacity: 0.4;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-color: #ff5c00 #ff5c00 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 32px;
}
.layout .layout_container .layout_card .login-switch p {
  width: 90px;
  height: 30px;
  background-color: #ff6700;
  border-radius: 4px;
  position: absolute;
  top: -20px;
  left: -125px;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 14px;
  transform-origin: right top;
  transform: scale(0.6);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.layout .layout_container .layout_card .login-switch p::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #ff6700;
  position: absolute;
  right: 0;
  top: 8px;
  transform-origin: right top;
  transform: rotate(-45deg);
}
.layout .layout_container .layout_card .login-switch:hover {
  opacity: 1;
}
.layout .layout_container .layout_card .login-switch:hover p {
  transform: scale(1);
  opacity: 1;
}
.layout .layout_container .layout_card .login-switch img {
  width: 40px;
  height: 40px;
  position: absolute;
  right: -23px;
  top: -23px;
}
.layout .layout_container .layout_card .ant-tabs {
  position: relative;
}
.layout .layout_container .layout_card .ant-tabs .tabs-list {
  height: 40px;
  margin-bottom: 10px;
  font-size: 22px;
  color: black;
}
.layout .layout_container .layout_card .ant-tabs .tabs-list span {
  margin-right: 20px;
}
.layout .layout_container .layout_card .ant-tabs .tabs-list .tabs-list-right {
  color: #bbbbbb;
}
.layout .layout_container .layout_card .ant-tabs .tabs-slide {
  height: 5px;
  width: 300px;
  position: absolute;
  left: 0;
  top: 35px;
}
.layout .layout_container .layout_card .ant-tabs .tabs-slide div {
  height: 4px;
  width: 42px;
  background-color: #ff6700;
  border-radius: 2px;
  transition: all 0.5s;
}
.layout .layout_container .layout_card .ant-tabs .tabs-content > .tabs-box {
  border-radius: 5px;
  height: 60px;
  margin-bottom: 10px;
  margin-top: 22px;
}
.layout .layout_container .layout_card .ant-tabs .tabs-content > p {
  color: red;
}
.layout .layout_container .layout_card .ant-tabs .tabs-content .tabs-userinput {
  cursor: text;
  background-color: #f9f9f9;
  padding: 7px 20px 0;
  transition: all 0.5s;
  border: 1px solid #f9f9f9;
}
.layout .layout_container .layout_card .ant-tabs .tabs-content .tabs-userinput p {
  color: #aaaaaa;
  transform-origin: left top;
  transform: scale(1.4) translateY(7px);
  transition: all 0.5s;
}
.layout .layout_container .layout_card .ant-tabs .tabs-content .tabs-userinput input {
  width: 100%;
  margin-top: 5px;
  background-color: transparent;
  font-size: 16px;
  height: 24px;
}
.layout .layout_container .layout_card .ant-tabs .tabs-content .tabs-btn {
  color: #fff;
  cursor: pointer;
  line-height: 60px;
  text-align: center;
  font-size: 16px;
  background-color: #ffbe99;
}
.layout .layout_container .layout_card .ant-tabs .tabs-content .tabs-btn-bottom {
  display: flex;
  margin-bottom: 40px;
  font-size: 16px;
  justify-content: space-between;
}
.layout .layout_container .layout_card .ant-tabs .tabs-content .tabs-btn-bottom a {
  color: #ff6700;
}
.layout .layout_container .layout_card .ant-tabs .tabs-content .tabs-btn-login {
  margin-bottom: 10px;
}
.layout .layout_container .layout_card .ant-tabs .tabs-seebox {
  width: 350px;
  overflow: hidden;
}
.layout .layout_container .layout_card .ant-tabs .tabs-seebox .tabs-longbox {
  width: 700px;
  overflow: hidden;
  transition: all 0.5s;
}
.layout .layout_container .layout_card .ant-tabs .tabs-seebox .tabs-longbox > div {
  width: 350px;
  position: relative;
}
.layout .layout_container .layout_card .ant-tabs .tabs-seebox .tabs-longbox .tabs-left {
  float: left;
  height: 470px;
}
.layout .layout_container .layout_card .ant-tabs .tabs-seebox .tabs-longbox .tabs-right {
  float: right;
}
.layout .layout_container .layout_card .ant-tabs .tabs-seebox .tabs-longbox .tabs-right > p {
  text-align: center;
  margin-bottom: 100px;
  font-size: 14px;
}
.layout .layout_container .layout_card .ant-tabs .tabs-seebox .tabs-longbox .tabs-right .tabs-content {
  position: relative;
}
.layout .layout_container .layout_card .ant-tabs .tabs-seebox .tabs-longbox .tabs-right .tabs-content .tabs-country {
  position: relative;
}
.layout .layout_container .layout_card .ant-tabs .tabs-seebox .tabs-longbox .tabs-right .tabs-content .tabs-country > p {
  transform: scale(1);
  margin-bottom: 3px;
}
.layout .layout_container .layout_card .ant-tabs .tabs-seebox .tabs-longbox .tabs-right .tabs-content .tabs-country > span {
  font-size: 16px;
  color: black;
}
.layout .layout_container .layout_card .ant-tabs .tabs-seebox .tabs-longbox .tabs-right .tabs-content .tabs-country .tabs-country-menu {
  width: 100%;
  height: 425px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 60px;
  z-index: 1;
}
.layout .layout_container .layout_card .ant-tabs .tabs-seebox .tabs-longbox .tabs-right .tabs-content .tabs-country .tabs-country-menu .country-menu-input {
  height: 62px;
  padding: 5px 20px;
}
.layout .layout_container .layout_card .ant-tabs .tabs-seebox .tabs-longbox .tabs-right .tabs-content .tabs-country .tabs-country-menu .country-menu-input input {
  width: 310px;
  height: 42px;
  border-radius: 6px;
  background-color: #f9f9f9;
  padding-left: 30px;
}
.layout .layout_container .layout_card .ant-tabs .tabs-seebox .tabs-longbox .tabs-right .tabs-content .tabs-country .tabs-country-menu .country-menu-scroll {
  height: 363px;
  overflow-y: scroll;
}
.layout .layout_container .layout_card .ant-tabs .tabs-seebox .tabs-longbox .tabs-right .tabs-content .tabs-country .tabs-country-menu .country-menu-scroll a {
  display: block;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  font-size: 16px;
}
.layout .layout_container .layout_card .ant-tabs .tabs-seebox .tabs-longbox .tabs-right .tabs-content .tabs-country .tabs-country-menu .country-menu-scroll a:hover {
  background-color: #fff3e6;
}
.layout .layout_container .layout_card .ant-tabs .tabs-seebox .tabs-longbox .tabs-right .tabs-content .tabs-phone-menu {
  width: 140px;
  height: 60px;
  position: absolute;
  left: 0;
  top: 82px;
  border-radius: 5px 0 0 5px;
  padding-left: 21px;
  padding-top: 8px;
}
.layout .layout_container .layout_card .ant-tabs .tabs-seebox .tabs-longbox .tabs-right .tabs-content .tabs-phone-menu p {
  transform: scale(1);
  margin-bottom: 3px;
}
.layout .layout_container .layout_card .ant-tabs .tabs-seebox .tabs-longbox .tabs-right .tabs-content .tabs-phone-menu span {
  font-size: 16px;
  color: black;
}
.layout .layout_container .layout_card .ant-tabs .tabs-seebox .tabs-longbox .tabs-right .tabs-content .tabs-phone {
  padding-left: 160px;
}
.layout .layout_container .layout_card .ant-tabs .tabs-seebox .tabs-longbox .tabs-right .tabs-content .tabs-code {
  position: relative;
  padding-right: 150px;
}
.layout .layout_container .layout_card .ant-tabs .tabs-seebox .tabs-longbox .tabs-right .tabs-content .tabs-code .tabs-code-btn {
  width: 120px;
  height: 58px;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;
  color: #ff6700;
  text-align: center;
  line-height: 58px;
  cursor: pointer;
}
.layout .layout_container .layout_card .ant-tabs .tabs-others {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}
.layout .layout_container .layout_card .ant-tabs .tabs-others p {
  font-size: 16px;
  color: #aaaaaa;
  margin-bottom: 15px;
}
.layout .layout_container .layout_card2 {
  height: auto;
}
.layout .layout_copyright {
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  font-size: 12px;
}
